.logo-text {
    font-size: 150%;
}

.logo-style {
    color: #DEE7FA;
}

.logo-style-1 {
    font-family: 'Indie Flower', cursive;
}

.logo-style-2 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.8em;
}

.solid-bk {
    background: #384FFF;
}

a.glyphicon {
    padding-right: 1.7em;
}

#footer {
    bottom: 0;
    position: fixed;
    width: inherit;
    z-index: -99;
}

/* TODO: have javascript dynamically create this based on the footer height */
.footer-spacer {
    height: 20px;
}

.main-component {
	background: white;
	border: solid 1px;
	border-radius: 5px;
	width: 100%;
	float: left;
	padding: 15px;
	margin: 10px;
}

.main-component > * {
    list-style: none;
}

#menu-bar {
	background: #333333;
    color: #FFFFFF;
    height: 40px;
    padding: 5px 20px;
}

#menu-bar ul {
	float: right;
}

#menu-bar li {
	display: inline;
	padding: 0 5px 17px;
}

.dropdown:hover {
	background: gray;
    color: white;
    padding: 0 5px 5px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.7);
}

.dropdown > div {
    display: none;
}

.dropdown:hover > div {
    background: -moz-linear-gradient(center top , #EFEFEF 0%, #BBBBBB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 10px 0 10px 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.7);
    color: #000000;
    display: block;
    margin-top: 5px;
    padding: 10px;
    position: absolute;
    right: 0px;
    z-index: 10;
}

.dropdown-left:hover > div {
    left: 0;
    right: auto;
    border-radius: 0 10px 10px 10px;
}

.dropdown-textarea:hover > div {
    width: 300px;
}

.select-bar p {
    float: left;
}

.project-bar {
    background: white;
}

.project-bar div, .project-bar form {
    float: right;
}

#block-chapter-select {
    position: relative;
    width: 50%;
    float: left;
    margin-right: 20px;
}

#timeline {
    width: 100%;
}