/* ============ colors ========================= */
.dark-bk {
    background: #020307;
}
.dark-txt {
    color: #020307;
}
.mainblue-bk {
    background: #549ECF;
}
.mainblue-txt {
    color: #549ECF;
}
.offwhite-bk {
    background: #FDFDFD;
}
.offwhite-txt {
    color: #FDFDFD;
}
.dkblue-bk {
    background: #23547F;
}
.dkblue-txt {
    color: #23547F;
}
.dkstblue-bk {
    background: #223E49;
}
.dkstblue-txt {
    color: #223E49;
}


.cursor-pointer {
    cursor: pointer;
}

.no-list-style > * {
    list-style: none;
}

#page-header {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    margin: 0 0 20px;
    padding: 0 100px;
}

.logo-text {
    font-size: 150%;
}

.scribe-font {
    font-family: 'Indie Flower', cursive;
}

.sketch-font {
    font-family: 'Cabin Sketch', cursive;
    /* font-size: 1.8em; */
}

a.glyphicon {
    padding-right: 1.7em;
}

#footer {
    bottom: 0;
    position: fixed;
    width: inherit;
    padding: 0 100px;
    z-index: -99;
}

/* TODO: have javascript dynamically create this based on the footer height */
.footer-spacer {
    height: 30px;
}

#main-dash {
    display: none;
}

.main-component {
	border: solid 1px;
	border-radius: 5px;
	width: 100%;
	float: left;
	padding: 15px;
	margin: 10px;
}

.main-component > * {
    list-style: none;
}

#menu-bar {
    color: #FFFFFF;
    height: 40px;
    padding: 5px 20px;
}

#menu-bar ul {
	float: right;
}

#menu-bar li {
	display: inline;
	padding: 0 5px 17px;
}

.dropdown:hover {
	background: gray;
    color: white;
    padding: 0 5px 5px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.7);
}

.dropdown > div {
    display: none;
}

.dropdown:hover > div {
    background: -moz-linear-gradient(center top , #EFEFEF 0%, #BBBBBB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 10px 0 10px 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.7);
    color: #000000;
    display: block;
    margin-top: 5px;
    padding: 10px;
    position: absolute;
    right: 0px;
    z-index: 10;
}

.dropdown-left:hover > div {
    left: 0;
    right: auto;
    border-radius: 0 10px 10px 10px;
}

.dropdown-textarea:hover > div {
    width: 300px;
}

.select-bar {
    float: left;
}

.project-bar {
    background: white;
}

.project-bar div, .project-bar form {
    float: right;
}

#block-chapter-select {
    position: relative;
    width: 50%;
    float: left;
    margin-right: 20px;
}

#timeline {
    width: 100%;
}